* {
  /* margin: 0; */
  /* padding: 0; */
  /* border: teal 3px solid; */
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-repeat: no-repeat;
  margin: 0;
}

.slideshow-container p {
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

.cloud-bg {
  background-image: url("images/header_image2.svg");
  background-repeat: no-repeat;
}

.content {
  position: relative;
  height: 60vh;
}

.concentration img {
  position: absolute;
  width: 350px;
  padding-left: 200px;
  padding-top: 60px;
}

/* img {
  width: 100%;
  height: auto;
} */

/* NAVBAR CSS */
nav {
  /* padding-left:2em;
    padding-right: 4em; */
  /* TODO: figure out no longer staying fixed */
  /* position: sticky; */
  width: 100%;
  top: 0;
  left: 40%;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
nav li {
  padding: 1em 0;
  list-style-type: none;
  padding: 25px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

nav li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

/* HEADER CSS */
/* .header {
    position: relative;
    background-image: url("/images/geometric-decoration-5836.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: antiquewhite; */
/* } */

.welcome {
  position: absolute;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: white;
  max-width: 60vh;
  top: 35%;
  left: 10%;
}

#changingword {
  color: black;
}

.image-gallery {
  margin-top: -55px;
  background-image: url("images/vine-2.svg");
  background-repeat: no-repeat;
  /* height: 100%; */
  display: grid;
  grid-template-rows: auto;
  grid-gap: 80px;
  /* padding-top: 200px; */
  padding-bottom: 200px;
  padding-bottom: 200%;
  padding-top: 350px;
  grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
  grid-template-areas:
    ".a."
    ".b."
    ".c."
    ".d."
    ".e."
    ".f.";
}

.box-styling {
  /* height: 300px; */
  /* background-color: teal; */
  width: 300px;
  clip-path: circle(50% at 50% 50%);
}

.box-wrapper {
  /* height: 600px; */
  border-radius: 1%;
}

.box1 {
  height: 300px;
  width: 300px;
  grid-area: a;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(193, 83, 27);
}

.box2 {
  height: 300px;
  width: 300px;
  grid-area: b;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(199, 108, 97);
}

.box3 {
  height: 300px;
  width: 300px;
  grid-area: c;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(127, 38, 41);
}

.box4 {
  height: 300px;
  width: 300px;
  grid-area: d;
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(193, 83, 27);
}

.bigText {
  font-size: 2em;
  padding-right: 0.5ch;
}

/* ABOUT ME CSS*/
.about-me {
  display: flex;
  flex-wrap: wrap;
  /* padding: 25px; */
  padding-left: 100px;
}

.portrait {
  width: 350px;
  padding-right: 15px;
}

.about-me p {
  text-align: center;
  font-size: 1em;
  line-height: 1.5rem;
  background-color: white;
  width: 300px;
}
/* .paragraph2 {
  text-indent: 2em;
} */

/* the span tag that wrap starts off my paragraph */
/* .bigText {
  font-size: 2em;
  padding-right: 0.5em;
} */

/* CONTACT CSS */
.contact {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 25vh !important;
  /* padding-bottom: 50vh; */
  /* background-color: burlywood !important; */
  grid-template-columns: 3fr minmax(2fr, 1fr) minmax(2fr, 1fr) 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". title title ."
    ". logo wrapper .";
}

.contact-title {
  font-size: 28px;
  grid-area: title;
  /* padding-bottom: 50px; */
  font-family: "Playfair Display", serif;
}

.contact-wrapper {
  grid-area: wrapper;
}

/* footer section */
footer {
  grid-area: footer;
}
footer p {
  font-size: 2em;
}
footer li {
  display: inline;
}
footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}
footer ul li {
  list-style: none;
  align-self: flex-end;
}
footer ul li a {
  text-decoration: none;
  color: black;
  /* opacity:.6; */
  transition: 0.3s;
}
footer ul li a:hover {
  text-decoration: none;
  color: turquoise;
}
footer svg {
  width: 30%;
}
.contact {
  /* padding-bottom: 200%; */
  grid-template-columns: 3fr minmax(2fr, 1fr) 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". title ."
    ". logo ."
    ". wrapper .";
}

/* MEDIA QUERY FOR SMALL SCREENS */
/* @media (max-width:1100px){
    .image-gallery {
      padding-bottom: 0px;
        margin-bottom: 600px;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 } */

/* MEDIA QUERY FOR MOBILE */
/* @media (max-width:735px){
     nav {
         padding-left: 0;
     } */

/* .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    } */

/* .image-gallery {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 10px;
      padding-top: 200px;
      padding-bottom: 200px; */
/* padding-bottom: 200%; */
/* grid-template-columns: 1fr minmax(400px, 1fr) 1fr; */
/* grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    } */
/* .image-gallery {
      background-image: url("images/Vine.svg");
      background-repeat: no-repeat; */
/* height: 100%; */
/* display: grid;
      grid-template-rows: auto;
      grid-gap: 80px; */
/* padding-top: 200px; */
/* padding-bottom: 200px;
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    } */

/* Shapes CSS */
/* .image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ;
} */
